/*TODO Сделать по мере прокрутки возможность возвращения наверх

/**Импорт необходимого*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Playfair+Display:wght@700&display=swap');

/**! ПЕРЕМЕННЫЕ*/

:root {
  --font-base-color: #fff;
  --font-color-collection-base: #282828;
  --font-color-collection-acent: #000;
  --accent: #998431;
  --accent-hover: #bba13b;
  --link-active: #ecc733;
  --base-bgc: #282828;
  --bgc-collection: #E6E3C4;
  --color-line: #C4C4C4;
}

/** Обнуление */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1; 
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

blockquote, 
q {
  quotes: none;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/**Глобальные настройки*/

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

body {
  background-color: #fff;
  font-family: 'Montserrat', 'Playfair Display', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

/*? Стили сайта*/

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.first-screen {
  min-height: 100vh;
  background: url(img/bgc-firstscreen.webp) no-repeat center/cover;
  display: flex;
}
/* TODO Сделать фон на jpg для IE11*/
/*? set-images проверить поддержку, или просто через js  проверку webp*/

.first-screen_body {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 65vh;
}

/*TODO Если разрешение экрана выше 1920 опустить кнопки ниже, добавить картинку в 2х размере по возможности*/

.top-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: var(--font-base-color);
  font-size: 13px;
}

.top-header_right a {
  padding: 5px;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 200ms;
}

.top-header_right a:hover {
  color: var(--accent);
}

.top-header_right a:focus {
  outline: 2px solid var(--link-active);
}

.top-header_right a:active {
  color: var(--link-active);
}

.nav {
  display: flex;
  justify-content: space-around;

}

.nav_item {
  width: 100%;
  border: 1px solid #fff;
}

.nav_item {
  border-right: none;
}

.nav_item:first-child {
  border-left: none;
}

.nav_link {
  display: inline-block;
  padding: 15px 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--font-base-color);
  font-size: 14px;
}

.nav_link {
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 300ms;
}

.nav_link:hover {
  background-color: var(--accent);
}

.nav_link:focus {
  outline: 2px solid var(--link-active);
  outline-offset: 0;
}

.nav_link:active {
  background-color: var(--link-active);
}



.first-screen-button {
  display: flex;
  justify-content: center;
}

.first-screen-button_left,
.first-screen-button_right {
  display: inline-block;
  padding: 15px;
  background: var(--accent);
  font-size: 16px;
  font-weight: 500;
  color: var(--font-base-color);
  text-transform: uppercase;
  transition-property: background-color,color;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 300ms;
}

.first-screen-button_left {
  margin-right: 10px;
}
.first-screen-button_right {
  margin-left: 10px;
}

.first-screen-button_left:hover,
.first-screen-button_right:hover {
  background-color: var(--base-bgc);
  color: var(--accent);
}

.first-screen-button_left:focus,
.first-screen-button_right:focus {
  outline: 2px solid var(--link-active);
  outline-offset: 0;
}

.first-screen-button_left:active,
.first-screen-button_right:active {
  background-color: var(--link-active);
  color: var(--font-base-color)
}

/**DESC*/

.desc {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--base-bgc);
}

.desc_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 3px solid var(--color-line);
}

.desc_title { 
  margin-top: 60px;
  text-align: center;
  font-family: 'Playfair Display';
  font-size: 36px;
  color: var(--font-base-color);
  line-height: 54px;
}

.desc_block hr {
  margin: 40px 0;
  min-width: 160px;
  border-bottom: 1px solid var(--color-line);
}

.desc_text {
  max-width: 733px;
  align-self:auto;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--font-base-color);
  text-align: center;
}

.desc_img {
  margin-top: 50px;
  margin-bottom: 60px;
  width: 160px;
  height: 160px;
  background-image: url(img/glass.png);
}

/**Collection*/

.collection {
  background-color: var(--bgc-collection);
}

.block-collection {
  padding-top: 80px;
  padding-bottom: 80px;
}

.block-collection_decor {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
}

.text-collection {
  margin-right: 30px;
  flex: 1 1 auto;
}

.text-collection_title {
  font-size: 16px;
  line-height: 24px;
  color: var(--font-color-collection-base);
  margin-bottom: 30px;
}

.text-collection_product {
  font-family: 'Playfair Display';
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  color: var(--font-color-collection-acent);
}

.text-collection hr {
  margin: 30px 0;
  height: 2px;
  color: var(--font-color-collection-base);
  background-color: var(--font-color-collection-base);
  max-width: 160px;
}

.text-collection_desc {
  margin-bottom: 30px;
  max-width: 445px;
  font-size: 14px;
  line-height: 21px;
  color: var(--font-color-collection-base);
}

.table-collection_table {
  margin-bottom: 30px;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 21px;
  color: var(--font-color-collection-base);
}

.table-collection_title {
  font-family: 'Playfair Display';
  font-size: 18px;
  line-height: 27px;
  color: var(--font-color-collection-acent);
}

.table-collection_table td:first-child {
  border-right: 1px solid var(--font-color-collection-base);
}

.table-collection_table tr:not(:last-child) {
  border-bottom: 1px solid var(--font-color-collection-base);
}

.table-collection_table tr td {
  padding: 15px;
}

.collection-img {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
}

.collection-img_top {
  margin-bottom: 30px;
}

.collection-img_top img {
  height: auto;
  width: 100%;
  max-width: 540px;
}

.collection-img_bottom {
  display: flex;
  justify-content:space-between;
}

.collection-img_bottom img{
  height: auto;
  width: 100%;
  max-width: 255px;
}

.collection-img_bottom-left {
  margin-right: 30px;
}


.text-collection_link {
  padding: 15px 30px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: var(--font-base-color);
  background-color: var(--accent);
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 300ms;
}


.text-collection_link:hover {
  background-color: var(--accent-hover);
}

.text-collection_link:focus {
  outline: 2px solid var(--link-active);
  outline-offset: 0;
}

.text-collection_link:active {
  background-color: var(--link-active);
}

/**Form*/

.form {
  padding-top: 130px;
  padding-bottom: 100px;
  background-color: var(--base-bgc);
}

.form_block {
  z-index: 10;
  position: relative;
  border: 3px solid var(--bgc-collection);
}

.form_title {
  z-index: 100;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  top: -30px;
  padding: 0 20px;
  font-size: 36px;
  line-height: 54px;
  color: var(--font-base-color);
  background-color: var(--base-bgc);
}

.form_img-left {
  position: absolute;
  top: -30%;
  left: 0;
  transform: translateX(-50%);
  background: url(img/form-img-left.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 260px;
}

.form_img-right {
  position: absolute;
  top: -30%;
  right: 0;
  transform: translateX(50%);
  background: url(img/form-img-right.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 260px;
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_wrapper hr {
  margin-top: 65px;
  border-bottom: 2px solid var(--color-line);
  width: 118px;
}

.form_desc {
  margin-top: 40px;
  margin-bottom: 80px;
  text-align: center;
  max-width: 539px;
  font-size: 16px;
  line-height: 24px;
  color: var(--font-base-color);
}

.form_wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 541px;
}

.form_box {
  display: flex;
  flex-direction: column;
}

.form_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.form_top input {
  padding: 5px;
  width: 100%;
  font-size: 13px;
  line-height: 20px;
  color: var(--font-base-color);
  background-color: var(--base-bgc);
  border-bottom: 2px solid var(--bgc-collection);
}

.form_top input::placeholder {
  padding-left: 0;
  color: var(--font-base-color);
}

.form_top input:first-child {
  margin-right: 30px;
}

.form_top input:focus {
  outline: 2px solid var(--link-active);
  border-bottom: none;
} 