

/**Импорт необходимого*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Playfair+Display:wght@700&display=swap');

/** Обнуление */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1; 
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

blockquote, 
q {
  quotes: none;
}

ul,
ol {
  list-style-type: none;
}

/**Глобальные настройки*/
body {
  background-color: #fff;
  font-family: 'Montserrat', 'Playfair Display', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

/*? Стили сайта*/

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.first-screen {
  min-height: 100vh;
  background: url(img/bgc-firstscreen.webp) no-repeat center/cover;
  display: flex;
}


